@import '../template/base.less';
/**
 * Here comes specific style for a certain test program.
 */

#canvas {
    /*margin: 0 auto;*/
    /*width: 450px;
    height: 450px;*/
    cursor:none;
    border: 5px salmon solid;
}

.start {
    position: absolute;
    color: white;
    top: 300px;
    left: 550px;
}